<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cifrado Cesar </title>
</head>
<body>
    <form action="../Dynamics/cifrar.php" method="POST">
        <fieldset>
          <legend> <h1> Cifrado Cesar </h1> </legend>
          <p>Introduce tu texto a traducir: </p>
          <textarea name="texto" id="" cols="30" rows="10"></textarea>
          <br>
          <input type="submit" value=" CODIFICAR ">
        </fieldset>
    </form>
</body>
</html>